# dependencies
node_modules/

# env files
.env
apps/*/.env

# logs
logs
*.log

# package lock files (using pnpm)
package-lock.json

# build outputs
dist/
build/

# OS
.DS_Store

# Nx
.nx/cache
.nx/workspace-data
